<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td class="text-center">
        <a routerLink="/form/{{client.id}}" class="btn btn-sm btn-info">Ver/Editar</a>
        <button type="button" (click)=delete(client.id) class="btn btn-sm btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
